{% extends 'base.html' %}

{% block header %}
  регистрация
{% endblock header %}

{% block content %}

  <form action="{{ url_for ('users.register') }}" method="post" class='form'>
    {{ form.csrf_token }}
    {% for field in form %}
      <p>{{ field.label }}</p>
      <p>{{ field }}</p>
      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    {% endfor %}

    <input type="hidden" name="next" value="{{ url_for ('users.register') }}">
  </form>

{% endblock content %}
