{% extends 'base.html' %}

{% block title %}
  Генерация
{% endblock title %}

{% block content %}
<h1>Создать короткую ссылку:</h1>
 <form action="" method="post" novalidate>
     {{ form.hidden_tag() }}
     <p>
         {{ form.URL.label }}<br>
         {{ form.URL(size=32) }}
     </p>
     <p>
         {{ form.shortner_name.label }}<br>
         {{ form.shortner_name(size=32) }}
     </p>
     <p>{{ form.submit() }}</p>
  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
       <ul>
           {% for message in messages %}
           <li>{{ message }}</li>
           {% endfor %}
       </ul>
    {% endif %}
  {% endwith %}
{% endblock content %}
